<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>HOME</h2>
    <form action="actionUrl" method='get'>
        <input type="text" value="" name ="Username" placeholder="Username"><br><br>   
        <input type="text" value="" name ="Name" placeholder="Name"><br><br>
        <input type="text" value="" name ="Email" placeholder="Email"><br><br>
        <input type="text" value="" name ="Password" placeholder="Password"><br><br>
        <input type="text" value="" name ="Confirm password" placeholder="Confirm password"><br><br>
        <input type="text" value="" name ="Address" placeholder="Address"><br><br>
        
        <button type='submit' name='mybtn'value="Click">Submit</button><br><br>
    
        </form>
    
        <a href="index.html">
            <button type='submit' name='login'value="Click">Login</button>
        </a>   
    
</body>
</html>